
@{
    Layout = null;
}


<div id="changepass-modal-container">
    @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "changepass-form" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-title">
            <p class="changepass-title">
                Quên mật khẩu
            </p>
        </div>
        <div class="form-content">
            <div class="form-group">
                <label class="frm-label">Mật khẩu cũ:</label>
                <input type="password" name="name" class="form-control" id="mk-changepass-control" />
            </div>
            <div class="form-group">
                <label class="frm-label">Mật khẩu mới:</label>
                <input type="password" name="name" class="form-control" id="mk2-changepass-control" />
                <span class="validation-message">Vui lòng không để trống, tối thiểu 6 ký tự và tối đa 15 ký tự.</span>
            </div>
            <div class="form-group">
                <label class="frm-label">Nhập lại khẩu mới:</label>
                <input type="password" name="name" class="form-control" id="mk2again-changepass-control" />
                <span class="validation-message">Vui lòng nhập lại mật khẩu mới.</span>
            </div>
            <div class="form-group">
                <div class="frm-changepass-button">
                    <div class="form-control" id="btn-changepass">Đổi</div>
                    <div class="form-control" id="btn-close-changepass">Đóng</div>
                </div>
            </div>
        </div>

    }
</div>

