@{
    Layout = null;
}

<div id="lopass-modal-container">
    @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "lopass-form" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-title">
            <p class="lopass-title">
                Quên mật khẩu
            </p>
        </div>
        <div class="form-content">
            <div class="form-group">
                <label class="frm-label">Tài khoản:</label>
                <input type="text" name="name" class="form-control" id="tk-lopass-control" />
            </div>
            <div class="form-group">
                <label class="frm-label">Số điện thoại:</label>
                <input type="text" name="name" class="form-control" id="sdt-lopass-control" />
            </div>
            <div class="form-group">
                <div class="frm-lopass-button">
                    <div class="form-control" id="btn-lopass">Gửi thông tin</div>
                    <div class="form-control" id="btn-close-lopass">Đóng</div>
                </div>
            </div>
        </div>

    }
</div>
