#a-dang-xuat, #a-san-pham {
    display: inline;
    color: inherit;
    text-decoration: none;
}

.panel-primary {
    border-color: #337ab7!important;
    color: #fff;
    background-color: #337ab7!important;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
}

.panel-green {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green .panel-footer {
    padding: 10px 15px;
    background-color: #fff;
    /*border-top: 1px solid #ddd;*/
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    color: #5cb85c;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.col-xs-3{
    float: left;
    width: 20%;
}

.panel-primary > .panel-heading {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
}

.col-xs-3, .col-xs-9{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.fa, .fas {
    font-weight: 900;
}

.fa, .far, .fas {
    font-family: "Font Awesome 5 Free";
}

.fa-5x {
    font-size: 3em;
}

.fa, .fab, .fad, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.panel-primary .panel-footer {
    padding: 10px 15px;
    background-color: #fff;
    /*border-top: 1px solid #ddd;*/
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    color: #337ab7;
}

.huge {
    font-size: 40px;
}

.panel-yellow {
    border-color: #dd571c;
    color: #fff;
    background-color: #dd571c;
}

    .panel-yellow .panel-footer {
        padding: 10px 15px;
        background-color: #fff;
        /*border-top: 1px solid #ddd;*/
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
        color: #dd571c;
    }

.panel-red {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red .panel-footer {
    padding: 10px 15px;
    background-color: #fff;
    /*border-top: 1px solid #ddd;*/
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    color: #d9534f;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left;
}

.pull-left {
    float: left !important;
}

life-saver:before, .fa-support:before, .fa-life-ring:before {
    content: "\f1cd";
}

.col-xs-9 {
    width: 80%;
    float: right;
}

.text-right {
    text-align: right;
}

.clearfix:after, .clearfix:before{
display: table;
content: " ";
}

.clearfix:after {
    clear: both;
}

.panel-primary .panel-footer, .panel-green .panel-footer, .panel-red .panel-footer, .panel-yellow .panel-footer {
    transition: ease-in 0.1s;
    font-weight: bold;
}

    .panel-primary .panel-footer:hover, .panel-green .panel-footer:hover, .panel-red .panel-footer:hover, .panel-yellow .panel-footer:hover {
       
        background: #eee;
    }

#accordionSidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    display: block;
    z-index: 1000;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: rgba(0,0,0,0);
    transition: background-color .8s;
    transition: transform .8s ease-in-out;
}

#accordionSidebar:hover {
    background-color: rgba(0,0,0,0.6);
}

    #accordionSidebar::-webkit-scrollbar {
        width:5px;
    }

    #accordionSidebar::-webkit-scrollbar-track {
        display: none;
    }

    #accordionSidebar::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: inherit;
    }

@media(min-width:768px) {
    #accordionSidebar {
        margin-left: -14rem !important;
        transform: translate(0%,0%)!important;
    }

    #wrapper {
        padding-left: 14rem !important;
    }
}

@media(max-width: 767.98px){
    #accordionSidebar {
        transform: translate(-100%,0%);
    }
}

#backdrop {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.6);
    z-index: 900;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
}