@{
    Layout = null;
}

<div id="spc-modal-container">
    <div id="spc-form">
        <div class="form-title">
            <p class="spc-title">
                Giỏ hàng
            </p>
        </div>
        <div class="form-content">
            <div class="form-group">
                <div id="list-order-product">
                    @*<div class="have-no-order">
                        <p>Giỏ hàng của bạn đang trống</p>
                    </div>*@
                    @*<div class="order-product">
                        <div class="order-product-img">
                            <img src="/assets/client/img/sp000001_1.jpg" />
                        </div>
                        <div class="order-product-information">
                            <div class="order-information-container">
                                <p class="order-product-name">Áo thun cổ tròn thiên nhiên kỳ vỹ</p>
                                <p class="order-product-price">160.000 VND</p>
                                <p class="order-product-size">Size: S</p>
                            </div>
                        </div>
                        <div class="order-product-amount">
                            <div class="order-product-sl-container">
                                <button class="minus-button" onclick="spcminus(this)">&minus;</button>
                                <input type="number" min="1" max="500" value="1" class="spc-sl-control" />
                                <button class="plus-button" onclick="spcplus(this)">&plus;</button>
                            </div>
                        </div>
                        <div class="order-product-feature">
                            <div class="order-product-button">
                                <button class="order-product-delete form-control">
                                    Xóa
                                </button>
                            </div>
                        </div>
                    </div>*@
                </div>
            </div>
            <div class="form-group">
                <div class="frm-spc-button">
                    <div class="form-control" id="btn-order">Đặt hàng</div>
                    <div class="form-control" id="btn-close-spc">Đóng</div>
                </div>
            </div>
        </div>
    </div>
</div>
